* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
padding: 30px;
  width: 90%;
  background-color: #eee;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.one{
  width: 100px;
  flex-grow: 1;
}
.two{
  width: 150px;
  /* align-self: flex-end; */
  flex-grow: 1;
}
.three{
  width: 300px;
  flex-grow: 1;
}
